/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

 .thoughts_header {
 	text-align: center;
 	background-color: rgba(9,9,9,0.8);
	width: 240px;
	margin: 0 auto;
	border-radius: 10px;
	padding: 5px 20px;
}

.thoughts_header:hover {
	background-color: rgba(9,9,9,0.6);
	width: 250px;
	border-radius: 20px;
	transition: transform 4.1s ease-in;
}

.thoughts_header h1 {
	color: white;
}

.form-group {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

.thoughts_container {
	background-color:rgba(89,89,89,0.63); 
	width: 800px; 
	margin: 0 auto;
  color: white;
  height: 500px;
  overflow: scroll;
  float:right;
  margin-right:20px;
}
.thoughts_content {
	border:2px solid black;
	height: 200px;
	width: 200px;
}

.add_thought_container {
	height: 400px;
	width: 500px;
	border: 1px solid black;
}

.search_header {
	text-align: center;
	font-size: 1.2em;
	color: white;
}