<div ng-app="thought-app" class="container">
    <div class="thoughts_header mask info"> 
      <h1>Thoughts</h1>
    </div>
  <div ng-controller="ThoughtCtrl">
     
  

    <div class="thoughts_container">  
        <div class="form-group">
        <input ng-model="searchThought" type="text" class="form-control">
      </div>
      <div ng-repeat="t in thoughts | filter:searchThought">
            <div class="thoughts_content">*{{t.thought_content}}<a ng-click="deleteThought(t);" class="button tiny radius round">X</a></div>
                
      </div>

     <script type="text/ng-template" id="myModalContent.html">
        <h3>"I'm a modal!"</h3>
        <ul>
          <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
          </li>
        </ul>
        <p>Selected: <b>{{ selected.item }}</b></p>
        <button class="button" ng-click="ok()">OK</button>
      <div>
        <form ng-submit="saveThought();" class="form-group">
        
          <input ng-model="newThought.thought_content" name="thought_content" class="form-control">
          <br />
          <input type="submit" value="Add New Thought!" class="button small">
        </form>
      </div>
        <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
      </script>

      <button class="button" ng-click="open()">Open me!</button>
 
      

  </div>
</div>
