<h1>Listing thoughts</h1>



 
    <% @thoughts.each do |thought| %>
      <div style="border:black 2px dashed; height: 100px; width: 200px;">
      <%= link_to thought.thought_content, thought %>

      <p style="font-size: 12px;"><%= link_to 'Edit', edit_thought_path(thought) %>
        <%= link_to 'Destroy', thought, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
    <% end %>




<br>

<%= link_to 'New Thought', new_thought_path %>
