<div ng-app="thought-app" class="container">
    <div class="thoughts_header"> 
      <h1>Shower Thoughts</h1>
    </div>
  <div ng-controller="ThoughtCtrl">
       
    <div class="thoughts_container large-6 large-offset-3 columns right">  
        <div class="form-group">

        </div>
        <div class="share_thought">
          <button class="button tiny " ng-click="open()">Share A Thought!</button>
        </div>
        <hr>
       <input ng-model="searchThought" type="text" class="form-control" placeholder="Search Thought">

      <div ng-repeat="t in thoughts | filter:searchThought">
            <div class="thoughts_content"><p ng-bind="t.thought_content"></p>
            </div>
      </div>
  </div>
     <script type="text/ng-template" id="myModalContent.html">
        <h3>Add new thought</h3>
  
      <div>
        <form ng-submit="saveThought();" class="form-group">
        <textarea rows="4" cols="50"  ng-model="newThought.thought_content" name="thought_content" class="form-control">
          What has your brain been tinkering with.
        </textarea>
          
          <br />
          <input type="submit" value="Add New Thought!" class="button small">
        </form>
      </div>
        <a class="close-reveal-modal class" ng-click="cancel()" ng-tou>&#215;</a>
      </script>

      
 
      

  </div>
</div>