<div ng-app="thought-app" class="container">
  <h1>Thoughts</h1>
  <div ng-controller="ThoughtCtrl">
     
    <div class="form-group">
        <input ng-model="searchThought" type="text" class="form-control">
    </div>

    <div ng-repeat="t in thoughts | filter:searchThought">
          <li> 
              {{t}}
          </li>
    </div>
    
    <h3>Add New Thought</h3>
    <form ng-submit="saveThought();" class="form-group">
      <input ng-model="newThought.thought_content" name="thought_content" class="form-control"><br /><br />
      <input type="submit" value="Add New Thought!" class="button">
    </form>
  </div>
</div>
