 <div style="border:2px solid black"><%= @thought.thought_content %> <%= link_to 'Edit', edit_thought_path(@thought) %> </div>


<%= link_to 'Back', thoughts_path %>
<%= link_to 'Destroy', @thought, method: :delete, data: { confirm: 'Are you sure?' } %>